@import "../../styles/variables.scss";

.footer {
  padding: 2.5rem 10rem;
  font-size: 1.2rem;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  background-color: #73615b;
  color: #fff;

  @include breakpoint(xl) {
    padding: 2.5rem 5rem;
  }

  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  @include breakpoint(md) {
    padding: 2.5rem 3rem;
  }

  .getInTouch {
    text-align: start;
    h1 {
      font-family: $Merriweather;
      font-size: 4rem;
    }
    p {
      padding: 2rem 0;
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      a {
        color: #000;
      }
    }
  }
  .email {
    margin: 0 auto;
    width: 18rem;
    height: 18rem;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #4c3e39;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.1);

    @include breakpoint(lg) {
      width: 60vw;
      padding: 2rem 0;
      height: max-content;
    }

    @include breakpoint(md) {
      width: 70vw;
    }
    @include breakpoint(sm) {
      width: 100%;
      font-size: 1rem;
    }
  }
}
